<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PrecisionModel" value="Floating"/>
    <add key="Srid" value="4326"/>
    <add key="MinX" value="-180"/>
    <add key="MaxX" value="180"/>
    <add key="MinY" value="-90"/>
    <add key="MaxY" value="90"/>
    <add key="Ordinates" value="XYM"/>
    <!-- ... -->
  </appSettings>
</configuration>